%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{port_specs,
 [{"linux", "priv/scrypt_nif.so",
   ["c_src/scrypt_nif.cpp", "c_src/crypto_scrypt-ref.cpp",
    "c_src/sha256.cpp"]},
  {"win32", "priv/scrypt_nif.dll",
   ["c_src/scrypt_nif.cpp", "c_src/crypto_scrypt-ref.cpp",
    "c_src/sha256.cpp"]},
  {"priv/scrypt",
   ["c_src/scrypt_port.cpp", "c_src/crypto_scrypt-ref.cpp",
    "c_src/sha256.cpp"]}
 ]}.

{port_env, [{"win32", "CXXFLAGS", "$CXXFLAGS /DHAVE_CONFIG_H"},
            {"win32", "LDFLAGS", "$LDFLAGS Ws2_32.lib"},
            {"linux", "CXXFLAGS", "$CXXFLAGS -DHAVE_CONFIG_H -Ic_src -O3 "
                                  "-fomit-frame-pointer -funroll-loops"}
           ]}.

{post_hooks, [{clean, "rm -f priv/* c_src/*.o c_src/*.d"},
              {compile, "rm -f c_src/*.o c_src/*.d"}]}.
