{cover_enabled, true}.

{deps_error_on_conflict, true}.

{erl_opts, [debug_info]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{plugins, [
    {pc, "1.6.0",
     {git, "https://github.com/K2InformaticsGmbH/port_compiler.git", {branch, "master"}}}
]}.

{port_specs,
    [{"linux|darwin", "priv/scrypt_nif.so",
        ["c_src/scrypt_nif.cpp", "c_src/scrypt.cpp",
            "c_src/sha256.cpp"]},
        {"win32", "priv/scrypt_nif.dll",
            ["c_src/scrypt_nif.cpp", "c_src/scrypt.cpp",
                "c_src/sha256.cpp"]},
        {"priv/scrypt",
            ["c_src/scrypt_port.cpp", "c_src/scrypt.cpp",
                "c_src/sha256.cpp"]}
    ]}.

{port_env, [{"win32", "CXXFLAGS", "$CXXFLAGS /Zi /nologo /W3 /WX- /O2 /Ob2 /Ot /GL "
"/D _CRT_SECURE_NO_WARNINGS /Gm- /EHsc /GS "
"/fp:fast /Gd " %  /DUSE_MACRO
},
    {"win32", "DRV_CFLAGS", "$ERL_CFLAGS"},
    {"win32", "EXE_CFLAGS", "$ERL_CFLAGS"},
    {"win32", "DRV_LINK_CXX_TEMPLATE", "$DRV_LINK_TEMPLATE"},
    {"win32", "EXE_LINK_CXX_TEMPLATE", "$EXE_LINK_TEMPLATE"},
    {"win32", "LDFLAGS", "$LDFLAGS /NOLOGO Ws2_32.lib "
    "/MANIFEST:NO "
    "/OPT:REF /OPT:ICF "
    "/LTCG /TLBID:1 /DYNAMICBASE /NXCOMPAT /MACHINE:X64"
    },
    {"linux", "CC", "g++"},
    {"linux|darwin", "CXXFLAGS", "$CXXFLAGS -D__STDC_LIMIT_MACROS "
    "-Ic_src -O3 " % -DUSE_MACRO 
    "-fomit-frame-pointer -funroll-loops"}
]}.

{post_hooks, [{clean, "rm -f priv/* c_src/*.o c_src/*.d"},
    {compile, "rm -f c_src/*.o c_src/*.d priv/*.exp priv/*.lib"}]}.

{provider_hooks,
    [{pre,
        [
            {compile, {pc, compile}},
            {clean, {pc, clean}}
        ]
    }]
}.
