%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{port_specs,
 [%{"linux", "priv/scrypt_nif.so", ["c_src/*.cpp"]},
  %{"win32", "priv/scrypt_nif.dll", ["c_src/*.cpp"]},
  {"priv/scrypt", ["c_src/*.cpp"]}
 ]}.

{port_env, [{"win32", "CXXFLAGS", "$CXXFLAGS /DHAVE_CONFIG_H"},
            {"win32", "LDFLAGS", "$LDFLAGS Ws2_32.lib"},
            {"linux", "CXXFLAGS", "$CXXFLAGS -O3 -fomit-frame-pointer -funroll-loops"}
           ]}.

{post_hooks,
 [{clean, "rm -f priv/scrypt* c_src/*.o"}]}.
